@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.size-radio-btn input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.size-radio-btn label {
  border-radius: 6px;
  border: 1px solid indigo;
  padding: 8px 12px;
}

.size-radio-btn input[type="radio"]:checked+label {
  background-color: rgb(67 56 202);
  color: white;
  border: none;
  font-size: 16px;
}

.size-radio-btn input[type="radio"]:focus+label {
  background-color: rgb(67 56 202);
  color: white;
  border: none;
  font-size: 17px;
}

.radio-colour-btn input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-colour-btn label {
  border-radius: 6px;
  border: 1px solid indigo;
  padding: 8px 12px;
}

.radio-colour-btn input[type="radio"]:checked+label {
  background-color: rgb(67 56 202);
  color: white;
  border: none;
  font-size: 16px;
}

.radio-colour-btn input[type="radio"]:checked+label {
  background-color: rgb(67 56 202);
  color: white;
  border: none;
  font-size: 17px;
}

.search-bar {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}